.btn {
  border:  1px solid transparentize($c-stormcloud, 0.8);
  transition: all .1s ease;
  color: $c-stormcloud;
  font-size: .8rem;
  padding: 1rem;
  flex: 1;
  margin: 1px 0;
  text-align: center;
  border-radius: .25rem;

  &:hover {
    border-color: $c-stormcloud;
    color: $c-dark-stormcloud;
  }

  &:focus {
    outline: 1px solid $c-stormcloud;
  }

  &:active {
    background: $c-dark-stormcloud;
  }

  &-group {
    display: flex;
    margin-top: 1rem;
  }

  &--light {
    background: transparent;
    text-decoration: underline;
  }
}
